<html><head> <title>Website</title> <style>body {background-color: Yellow; text-align: center;</style></head><body>
                    <form  action="signup.html">
                          <button type="submit">sign Up</button>
                          </form>
                          <h1 style="text-align:center;">  <b>To Do list</b>  </h1>
                          <p  style="text-align:center;">Start Your Day With Us</p>
                         <form action="/dash.py" method="post">
                        
                         <input type="text"  size="10" placeholder="Please input your name" name="username" required>
                         <input type="Password"  size="10" placeholder="Input Password" name="password" required>
                        
    
                         <div>
                         <button  type="submit" value="submit">Sign in</button>
                         </div>
                         </form>
         </body>
</html>

