<!doctype html>

        <html lang="en">
          <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
         .container .btn {
           position: absolute;
           top: 50%;
           left: 5%;
           transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           background-color: #555;
           color: white;
           font-size: 16px;
           padding: 5px 5px;
           border: none;
           cursor: pointer;
           border-radius: 5px;
         }
        </style>
        </head>


        <body>



          <b>HI</b> <button type="button"> {{ username }} </button>
	       <b>HI</b> <button type="button"> {{ item1 }} </button>

	            <b>HI</b> <button type="button"> {{ item2 }} </button>
		         <b>HI</b> <button type="button"> {{ item4 }} </button>
                                    <b>HI</b> <button type="button"> {{ item4 }} </button>






  </body>

</html>
