<html><head><style>body{background-color: Yellow; text-align: center;</style></head><body>
      <form  action="/login.py" method="post">
                <label for="username"><b>USERNAME</b></label>
                <input type="text" placeholder="Enter username" name="username" required>
                <br>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br>
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                <br>
                <button type ="button">Cancel</button>
                <div>
                <button  type="submit" value="submit">Sign Up</button>
                </div>
                </form>
       </body>
</html>

